.diffentcolor {
    color: green;
}

#differcolor {
    color: green
}

body, td, div, .p, a {
    font-family: arial, sans-serif;
}

h1, h2 {
    font-family: sans-serif;
    color: gray;
}

h1 {
    border-bottom: 40px solid black;
    border-bottom: 20px;
    solid: black;
}

div#container {
    width: 600px;
    height: 10px;
}

div#menu {
    width: 270px;
    float: left;
}

div#content {
    float: left;
}

li#book1 {
    list-style-image: url(../../src/homework/5.png);
}

li#book2 {
    list-style-image: url(../../src/homework/5.png);
}

li#book3 {
    list-style-image: url(../../src/homework/5.png);
}

li#book4 {
    list-style-image: url(../../src/homework/5.png);
}

li#book5 {
    list-style-image: url(../../src/homework/5.png);
}