.diffentcolor {
    color: green;
}

#differcolor {
    color: green
}

body, td, div, .p, a {
    font-family: arial, sans-serif;
}

h1, h2 {
    font-family: sans-serif;
    color: gray;
}

.author {
    by: svitter;
}

h1 {
    border-bottom: 40px solid black;
    border-bottom: 20px;
    solid: black;
}

div#container {
    width: 600px;
    height: 10px;
}

div#menu {
    width: 270px;
    float: left;
}

div#content {
    float: left;
}

li#book1 {
    list-style-image: url(../../src/homework/5.png);
}

li#book2 {
    list-style-image: url(../../src/homework/5.png);
}

li#book3 {
    list-style-image: url(../../src/homework/5.png);
}

li#book4 {
    list-style-image: url(../../src/homework/5.png);
}

li#book5 {
    list-style-image: url(../../src/homework/5.png);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}